* {
    color: var(--fourth-color);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-form {
    height: 100vh;
    width: 100vw;
    padding-right: 10%;
    background: var(--first-color);
}

.header {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.content>form {
    width: 30%;
    height: 85%;
    border-radius: 20px;
    box-shadow: -10px -10px 10px 10px rgba(200, 196, 196, 0.05), 10px 10px 10px rgba(0, 0, 0, 0.05);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

form input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    height: 30px;
    outline: none;
    margin-bottom: 20px;
    border-color: var(--fourth-color);
    font-family: Quicksand-SemiBold;
    font-size: 14px;
}

form input[type="code"] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    height: 30px;
    outline: none;
    margin-bottom: 20px;
    border-color: var(--fourth-color);
    font-family: Quicksand-SemiBold;
    font-size: 14px;
}

.labelTitle {
    font-family: Quicksand-Bold;
    font-size: 38px;
    margin-bottom: 30px;
    color: var(--fourth-color);
}

::placeholder {
    font-family: Quicksand-SemiBold;
    font-size: 14px;
    color: var(--fourth-color);
}

.content>form input[type="submit"] {
    height: 12%;
    width: 95%;
    margin: 0 auto 0 auto;
    border: none;
    border-radius: 50px 50px 50px 50px;
    font-size: 16px;
    font-family: Quicksand-SemiBold;
    background-color: var(--fourth-color);
    color: var(--second-color);
    box-shadow: 0px 15px 21px -10px var(--second-color);
    -webkit-box-shadow: 0px 15px 21px -10px var(--second-color);
    -moz-box-shadow: 0px 15px 21px -10px var(--second-color);
}

.content>form input[type="submit"]:hover {
    cursor: pointer;
    color: var(--fourth-color);
    background: var(--third-color);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.logo-pmps {
    display: flex;
    align-items: center;
}

.logo-pmps>img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.logo-pmps>label {
    font-size: 20px;
}

.image-book {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-book>img {
    margin-left: 10%;
    width: 50%;
}