.modal-wrapper {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 35%;
    height: 60%;
    background: var(--fifth-color);
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
    visibility: hidden;
}

.modal-header {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: var(--second-color);
}

.modal-header>h3 {
    color: var(--fourth-color);
    padding: 0;
    margin: 0;
}

.modal-body {
    height: 60%;
    width: 100%;
    padding: 15px;
}

.modal-body>p {
    padding: 0;
    margin: 0;
}

.modal-footer {
    height: 20%;
    width: 100%;
    border-top: 1px solid var(--second-color);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal-footer>button {
    background: var(--second-color);
    border: none;
    width: 20%;
    height: 55%;
    color: var(--fourth-color);
    border-radius: 5px;
}

.modal-footer>button:hover {
    cursor: pointer;
}

.mask-modal {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.mask-modal.active {
    visibility: visible;
}

.modal-wrapper.active {
    visibility: visible;
}

.modal-form {
    overflow: auto;
    height: 140%;
}

.modal-form::-webkit-scrollbar {
    display: none;
}

.modal-form>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input-form-tambah {
    display: flex;
}

.input-form-tambah>label {
    width: 40%;
}

.input-form-tambah>input,
textarea,
select {
    width: 60%;
    background: var(--second-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.input-button {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.input-button>button {
    width: 25%;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: var(--second-color);
}

.btn-close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--fifth-color);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.btn-close-modal:hover {
    cursor: pointer;
}